.flex-container {
    display:flex;
align-items: center;
}
.site-title { font-family: 'Nunito';}
header {justify-content:
     space-between;
    height:32px;}
.site-title{position: absolute;
left:50%;
transform: translateX(-50%);
font-size: 39px;
}
.left-controls {
    margin-left:61px;
}
.link-font {
    font-size:34px;
}
.search-controls {
    margin-right: 66px;
}
.icon-buttons {
    border: none;
    background-color: transparent;
    outline:unset;
    padding:0;
.clients-link 
{
    margin-left: 46px;
    margin-right: 53px;
}